  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .logo{
    width: 15%;
    padding: 10px 0px 0px 40px;
  }
  .logo-img{
    width: 100%;
  }
  .menu{
    width: 84%;
    padding-left: 30px;
  }
  .menu ul li a{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff !important;
  }
  .header{
    width: 100%;
    background: #72685b;
    margin-bottom: 40px;
    position: fixed;
    z-index: 999;
  }
  .menu ul li{
    padding: 20px;
  }
  .menu ul li:hover a{
    color: red !important;
  }
  .dropdown-menu :hover {
    background:rgb(238, 238, 238)!important;
  }
  .dropdown-menu {
    background: #8d8cdd !important;
  }
  .tien{
    text-decoration: underline;
  }
  .text-sp{
    border-top: 1px solid red;
    padding: 20px;
  }
  .card-imgg:hover img {
    -ms-transform: scale(1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
    cursor: pointer;
    overflow: hidden;
  }
  .card-body:hover h4{
    color:red !important;
  }
  a{
    text-decoration: none !important;
  }
  .carousel-control-next{
    border: none;
    background: none;
  }
  .carousel-control-prev{
    border: none;
    background: none;
  }
  .form-inline button{
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
  }
  .form-inline{
    padding-left: 45px;
  }
  .banner{
    padding-top: 115px;
  }
  .form-inline:hover button{
    background:rgb(230, 42, 42)!important;
  }
  .item-is{
    font-size: 25px;
  }
  .control-icon{
    background: rgb(231, 217, 217);
    margin: 0 auto;
  }
  .icon{
    font-size: 32px;
  }
  .row{
    justify-content: space-between;
  }
  .card :hover a{
    color: red;
    text-decoration: none;
  }
  .carousel-img{
    border: 1px solid #000000;
    cursor: grab;
  }
  .carousel-control-prev{
    cursor: pointer;
  }
  .carousel-control-next{
    cursor: pointer;
  }
  .footer{
    background-image: url(./img/backgroud.jpg);
    margin-top: 20px;
    padding: 0px 20px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .input-footer{
    padding: 8px;
    margin: 10px 20px;
    justify-content: center;
    background: rgb(71, 67, 75);
    border: none;
    border-radius: 5px;
  }
  .button-footer{
    margin: 10px;
    padding: 8px 30px;
    border-radius: 5px;
    background: chocolate; 
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
  }
  main{
    border-top: 2px solid rgb(245, 239, 239);
    padding-top: 140px;
  }
  .card{
    padding: 10px;
  }
  .danhmuc{
    border-right: 8px solid rgba(233, 224, 224, 0.4);
    padding-left: 50px !important;
  }
  h3{
    border-left: 3px solid red ;
    background: #d8cec0;
  }
  .danhmuc ul{
    padding-left: 40px;
  }
  .sanpham{
    margin: 0 !important;
  }
  ul li a{
    color: #000000;
    font-size: 20px;
  }
  ul li:hover a{
    color: red;
  }